{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Cubes{% endblock %}

{% block breadcrumb %}
<h1>
    Cubes
    <small>Add</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'cube_list' %}">Cubes</a></li>
    <li class="active">Add</li>
</ol>
{% endblock %}

{% block main %}
    <div class="row">
        <form action="{% url 'cube_add' user_id=user_id %}" method="post">
        {% csrf_token %}
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <a href="{% url 'profile_view' user_id=user_id %}" class="pull-right">
                            {{ owner }}
                        </a>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="unitInput">Unit</label>
                            <input type="text"
                                   name="unit"
                                   id="unitInput"
                                   maxlength="11"
                                   required="true"
                                   value="{{ data.unit }}"
                                   class="form-control"
                                   placeholder="Cube unit">
                        </div>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Lease Agreement</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-xs-6">
                            <label for="durationInput">Duration</label>&nbsp;&nbsp;<small>(Months)</small>
                            <input type="number"
                                   name="duration"
                                   id="durationInput"
                                   min="1"
                                   {% if data.duration %}
                                       value="{{ data.duration }}"
                                   {% else %}
                                       value="6"
                                   {% endif %}
                                   class="form-control"
                                   placeholder="Duration of Lease">
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="promoInput">Promo</label>&nbsp;&nbsp;<small>(Months)</small>
                            <input type="number"
                                   name="promo"
                                   id="promoInput"
                                   min="0"
                                   {% if data.promo %}
                                       value="{{ data.promo }}"
                                   {% else %}
                                       value="0"
                                   {% endif %}
                                   class="form-control"
                                   placeholder="Number of months with promo">
                        </div>
                        <div class="form-group">
                            <label for="startDatePicker">Start Date:</label>
                            <div class="input-group date" data-provide="datepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text"
                                       name="start_date"
                                       id="startDatePicker"
                                       value="{{ data.start_date }}"
                                       class="form-control pull-right">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endDatePicker">End Date:</label>
                            <div class="input-group date" data-provide="datepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text"
                                       name="end_date"
                                       id="endDatePicker"
                                       value="{{ data.end_date }}"
                                       class="form-control pull-right">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nextDueDatePicker">Next Due Date:</label>
                            <div class="input-group date" data-provide="datepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text"
                                       name="next_due_date"
                                       id="nextDueDatePicker"
                                       value="{{ data.next_due_date }}"
                                       class="form-control pull-right">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
