{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Dashboard{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ cubes|length }}</h3>
                    <p>Cubes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-cube"></i>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ items|length }}</h3>
                    <p>Items</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-clipboard"></i>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sales</h3>
                </div>
                <div class="box-body">
                    <table id="sales_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Date</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in sales %}
                                <tr>
                                    <td>
                                        <a href="{% url 'item_view' item_id=sale.item.id %}">
                                            {{ sale.item.name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ sale.date }}
                                    </td>
                                    <td>
                                        {{ sale.quantity }}
                                    </td>
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}