{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Items{% endblock %}

{% block breadcrumb %}
<h1>
    Items
    <small>View</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'item_list' %}">Items</a></li>
    <li class="active">View</li>
</ol>
{% endblock %}

{% block main %}
<div class="row">
<div class="col-md-12">
    <div class="box">
        <div class="box-body">
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Cube</b>
                    <a href="{% url 'cube_view' cube_id=item.cube.id %}" class="pull-right">
                        <b>{{ item.cube.unit }}</b>
                    </a>
                </li>
                <li class="list-group-item">
                    <b>Name</b>
                    <span class="pull-right text-muted">{{ item.name }}</span>
                </li>
                <li class="list-group-item">
                    <b>Price</b>
                    <span class="pull-right text-muted">{{ item.price }}</span>
                </li>
                <li class="list-group-item">
                    <b>Quantity</b>
                    <span class="pull-right text-muted">{{ item.quantity }}</span>
                </li>
                <li class="list-group-item">
                    <b>Commission</b>
                    <span class="pull-right text-muted">
                        {{ item.vat }}% (VAT)
                        {{ item.commission }}% (Sales)
                    </span>
                </li>
            </ul>
        </div>
        <div class="box-footer">
            <a href="{% url 'item_edit' item_id=item.id %}">Edit</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'item_delete' item_id=item.id %}">Delete</a>
        </div>
    </div>
</div>
</div>
{% endblock %}