{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Items{% endblock %}

{% block main %}
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{% url 'home' %}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">t<b>CS</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">the<b>CubeStore</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-fixed-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">{{ user.username }}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{% static "images/logo_mini.png" %}" alt="The Cube Store" class="img-circle">
                </div>
                <div class="pull-left info">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span>Anouncements</span>
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right">4</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'home' %}">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="active treeview">
                    <a href="{% url 'merchant_list' %}">
                        <i class="fa fa-user"></i>
                        <span>Merchants</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{% url 'merchant_list' %}"><i class="fa fa-circle-o"></i>List</a></li>
                        <li><a href="{% url 'user_add' %}"><i class="fa fa-circle-o"></i>Add</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">&nbsp;</section>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Merchants
                <small>ADD</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Merchants</li>
            </ol>
        </section>      

        <!-- error messages -->
        <section class="content">
            {% if messages %}
            <div class="row">
                <ul class="messages">
                    {% for message in messages %}
                    <li
                        {% if message.tags %}
                            {% if message.tags == 'error' %}
                                class='text-red'
                            {% endif %}
                            {% if message.tags == 'info' %}
                                class='text-green'
                            {% endif %}
                        {% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="row">
            <form action="{% url 'item_edit' item_id=item.id %}" method="post">
            {% csrf_token %}
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="nameInput">Name</label>
                                <input type="text"
                                       name="name"
                                       id="nameInput"
                                       maxlength="32"
                                       required="true"
                                       value="{{ item.name }}"
                                       class="form-control"
                                       placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="quantityInput">Quantity</label>
                                <input type="number"
                                       name="quantity"
                                       id="quantityInput"
                                       max="99999"
                                       min="0"
                                       required="true"
                                       value="{{ item.quantity }}"
                                       class="form-control"
                                       placeholder="Quantity of item posited in cube">
                            </div>
                            <div class="form-group">
                                <label for="priceInput">Price</label>
                                <input type="number"
                                       name="price"
                                       id="priceInput"
                                       max="9999999.99"
                                       min="0"
                                       step="0.01"
                                       required="true"
                                       value="{{ item.price }}"
                                       class="form-control"
                                       placeholder="Price in pesos">
                            </div>
                        <div class="box-header with-border">
                            <h3 class="box-title">Commission</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group col-xs-4">
                                <label for="vatInput">VAT</label>&nbsp;&nbsp;<small>(%)</small>
                                <input type="number"
                                       name="vat"
                                       id="vatInput"
                                       min="0"
                                       {% if item.vat %}
                                           value="{{ item.vat }}"
                                       {% else %}
                                           value="3"
                                       {% endif %}
                                       class="form-control"
                                       placeholder="VAT percentage">
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="salesInput">Sales</label>&nbsp;&nbsp;<small>(%)</small>
                                <input type="number"
                                       name="sales"
                                       id="salesInput"
                                       min="0"
                                       {% if item.sales %}
                                           value="{{ item.sales }}"
                                       {% else %}
                                           value="3"
                                       {% endif %}
                                       class="form-control"
                                       placeholder="Sales percentage">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <!-- end Small boxes -->
        </section>
        <!-- end content -->
    </div>
    <!-- end Content Wrapper -->

    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.1.0
        </div>
            <strong>Copyright &copy; 2017.</strong> <p>Template based on:<a href="https://adminlte.io">Almsaeed Studio</a>.</p> All rights
        reserved.
    </footer>
</div>
{% endblock %}

{% block scrips %}
<!-- AdminLTE App -->
<script src="{% static "dist/js/adminlte.min.js" %}"></script>
<script type="text/javascript">
    $(function () {

        //Date picker
        $('.datepicker').datepicker({
            autoclose: true,
            dateFormat: 'yy-mm-dd'
        });

    })
</script>
{% endblock %}