{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Items{% endblock %}

{% block breadcrumb %}
<h1>
    Items
    <small>ADD</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'item_list' %}">Items</a></li>
    <li class="active">Add</li>
</ol>
{% endblock %}

{% block main %}
    <div class="row">
        <form action="{% url 'item_add' cube_id=cube_id %}" method="post">
        {% csrf_token %}
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <a href="{% url 'cube_view' cube_id=cube_id %}" class="pull-right">
                            {{ cube }}
                        </a>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="nameInput">Name</label>
                            <input type="text"
                                   name="name"
                                   id="nameInput"
                                   maxlength="32"
                                   required="true"
                                   value="{{ data.name }}"
                                   class="form-control"
                                   placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="quantityInput">Quantity</label>
                            <input type="number"
                                   name="quantity"
                                   id="quantityInput"
                                   max="99999"
                                   min="0"
                                   required="true"
                                   value="{{ data.quantity }}"
                                   class="form-control"
                                   placeholder="Quantity of item posited in cube">
                        </div>
                        <div class="form-group">
                            <label for="priceInput">Price</label>
                            <input type="number"
                                   name="price"
                                   id="priceInput"
                                   max="9999999.99"
                                   min="0"
                                   step="0.01"
                                   required="true"
                                   value="{{ data.price }}"
                                   class="form-control"
                                   placeholder="Price in pesos">
                        </div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Commission</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-xs-4">
                            <label for="vatInput">VAT</label>&nbsp;&nbsp;<small>(%)</small>
                            <input type="number"
                                   name="vat"
                                   id="vatInput"
                                   min="0"
                                   {% if data.vat %}
                                       value="{{ data.vat }}"
                                   {% else %}
                                       value="3"
                                   {% endif %}
                                   class="form-control"
                                   placeholder="VAT percentage">
                        </div>
                        <div class="form-group col-xs-4">
                            <label for="salesInput">Sales</label>&nbsp;&nbsp;<small>(%)</small>
                            <input type="number"
                                   name="sales"
                                   id="salesInput"
                                   min="0"
                                   {% if data.sales %}
                                       value="{{ data.sales }}"
                                   {% else %}
                                       value="3"
                                   {% endif %}
                                   class="form-control"
                                   placeholder="Sales percentage">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}