{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Payments{% endblock %}

{% block breadcrumb %}
<h1>
    Payments
    <small>LIST</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Payments</li>
</ol>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <table id="payment_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Mode</th>
                                <th>Bank</th>
                                <th>Account</th>
                                <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td>
                                        <a href="{% url 'payment_view' payment_id=payment.id %}">
                                            {{ payment.id }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if payment.mode == 'ca' %}
                                            Cash
                                        {% endif %}
                                        {% if payment.mode == 'ch' %}
                                            Check
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ payment.bank }}
                                    </td>
                                    <td>
                                        {{ payment.account }}
                                    </td>
                                    <td>
                                        <a href="{% url 'profile_view' user_id=payment.profile.user.id %}">
                                            {{ payment.profile.user.first_name }} {{ payment.profile.user.last_name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}