{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Payments{% endblock %}

{% block breadcrumb %}
<h1>
    Payments
    <small>VIEW</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="{% url 'payment_list' %}">Payments</a></li>
    <li class="active">View</li>
</ol>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Owner</b>
                            <a href="{% url 'profile_view' user_id=payment.profile.user.id %}" class="pull-right">
                                <b>
                                {{ payment.profile.user.first_name }}
                                {{ payment.profile.user.last_name }}
                                </b>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>Mode</b>
                            {% if payment.mode == 'ca' %}
                                <span class="pull-right text-muted">Cash</span>
                            {% endif %}
                            {% if payment.mode == 'ch' %}
                                <span class="pull-right text-muted">Check</span>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <b>Bank</b>
                            <span class="pull-right text-muted">{{ payment.bank }}</span>
                        </li>
                        <li class="list-group-item">
                            <b>Account</b>
                            <span class="pull-right text-muted">{{ payment.account }}</span>
                        </li>
                    </ul>
                </div>
                <div class="box-footer">
                    <a href="{% url 'payment_edit' payment_id=payment.id %}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'payment_delete' payment_id=payment.id %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}