{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Merchants{% endblock %}

{% block breadcrumb %}
<h1>
    Merchants
    <small>LIST</small>
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Merchants</li>
</ol>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Registered merchants: {{ merchants|length }} </h3>
                    <a href="{% url 'user_add' %}" class="pull-right">
                        [Add]
                    </a>
                </div>
                <div class="box-body">
                    <table id="profile_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Stores</th>
                                <th>Cubes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for merchant in merchants %}
                                <tr>
                                    <td>
                                        <a href="{% url 'profile_view' user_id=merchant.profile.user.id %}">
                                            {{ merchant.profile.user.first_name }}
                                            {{ merchant.profile.user.last_name }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ merchant.profile.user.username }}
                                    </td>
                                    <td>
                                        {{ merchant.stores }}
                                    </td>
                                    <td>
                                        {{ merchant.cubes }}
                                    </td>
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
<script src="{% static "bower_components/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script>
    $(function () {
        $('#cube_table').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>
{% endblock %}