{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}Merchants{% endblock %}

{% block main %}
    <div class="row">
        <form action="{% url 'profile_add' user_id=user_id %}" method="post">
        {% csrf_token %}
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Profile</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>Birthday:</label>
                            <div class="input-group date" data-provide="datepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text"
                                       name="birthday"
                                       id="birthdayPicker"
                                       value="{{ data.birthday }}"
                                       class="form-control pull-right">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobileInput">Contact Number</label> <small>(+63xxxxxxxxxx)</small>
                            <input type="text"
                                   name="contact_number"
                                   id="mobileInput"
                                   value="{{ data.contact_number }}"
                                   maxlength="15"
                                   class="form-control"
                                   placeholder="Enter mobile number">
                        </div>
                        <div class="form-group">
                            <label for="primaryAddressInput">Address</label>
                            <input type="text"
                                   name="primary_address"
                                   id="primaryAddressInput"
                                   value="{{ data.primary_address }}"
                                   maxlength="2048"
                                   class="form-control"
                                   placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label for="alternateAddressInput">Alternate Adress</label>
                            <input type="text"
                                   name="alternate_address"
                                   id="alternateAddressInput"
                                   value="{{ data.alternate_address }}"
                                   maxlength="2048"
                                   class="form-control"
                                   placeholder="Alternate address">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}