{% extends "thecubestore/base.html" %}

{% load staticfiles %}
{% block pagetitle %}{{ profile.user.first_name }} {{ profile.user.last_name }}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle"
                     src="{% static 'images/pic_placeholder.png' %}" alt="User profile picture">
                <h3 class="profile-username text-center">{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
                
                <p class="text-muted text-center">Merchant</p>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Info</h3>
            </div>
            <div class="box-body">
                <strong><i class="fa fa-birthday-cake margin-r-5"></i> Birthday</strong>
                <p class="text-muted">
                    {{ profile.birthday }}
                </p>

                <strong><i class="fa fa-mobile margin-r-5"></i> Contact Number</strong>
                <p class="text-muted">
                    {{ profile.contact_number }}
                </p>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Primary Address</strong>
                <p class="text-muted">
                    {{ profile.primary_address }}
                </p>

                <strong><i class="fa fa-map-marker margin-r-5"></i> Alternate Address</strong>
                <p class="text-muted">
                    {{ profile.alternate_address }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#cube" data-toggle="tab">Cube</a></li>
                <li><a href="#store" data-toggle="tab">Store</a></li>
                <li><a href="#payment" data-toggle="tab">Payment</a></li>
            </ul>
            <div class="tab-content">
                <div id="cube" class="active tab-pane">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <span>Number of cubes: {{ cubes|length }}</span>
                            <a href="{% url 'cube_add' user_id=profile.user.id %}" class="pull-right">[Add]</a>
                        </li>
                        {% for cube in cubes %}
                            <li class="list-group-item">
                                <b>
                                    <a href="{% url 'cube_view' cube_id=cube.id %}">
                                        {{ cube.unit }}
                                    </a>                                           
                                </b>
                                <a href="{% url 'cube_edit' cube_id=cube.id %}" class="pull-right">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="store" class="tab-pane">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <span>Number of stores: {{ stores|length }}</span>
                            <a href="{% url 'store_add' user_id=profile.user.id %}" class="pull-right">[Add]</a>
                        </li>
                        {% for store in stores %}
                            <li class="list-group-item">
                                <b>
                                    <a href="{% url 'store_view' store_id=store.id %}">
                                        {{ store.name }}
                                    </a>
                                </b>
                                <a href="{% url 'store_edit' store_id=store.id %}"class="pull-right">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="payment" class="tab-pane">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <span>Number of payment: {{ payments|length }}</span>
                            <a href="{% url 'payment_add' user_id=profile.user.id %}" class="pull-right">[Add]</a>
                        </li>
                        {% for payment in payments %}
                            <li class="list-group-item">
                                <b>
                                    <a href="{% url 'payment_view' payment_id=payment.id %}">
                                        {{ payment.bank }} ({{ payment.account }})
                                    </a>                                           
                                </b>
                                <a href="{% url 'payment_edit' payment_id=payment.id %}" class="pull-right">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}